<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rsdn.Editor.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Rsdn.Editor.Test.Properties.Settings>
            <setting name="LastEditedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInvisibles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value>1</value>
            </setting>
        </Rsdn.Editor.Test.Properties.Settings>
    </userSettings>
 <system.diagnostics>
		<switches>
			<!--Verbose=4, Info=3, Warning=2, Error=1, Off=0-->
			<add name="View.DragDrop" value="4" />
			<add name="View.Keyboard" value="3" />
			<add name="View.Mouse" value="4" />
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<!--Расскомментируйте следующую строчку чтобы отключить вывод в Output окошко студии-->
				<!--<clear/>-->
				<!--Расскомментируйте следующую строчку чтобы добавить вывод в файл EditTest.log-->
				<!--<add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="EditTest.log" />-->
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>